Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Init:
        configSets:
          Infra-EmbeddedPreBuild:
            healthd:
              files:
                "/etc/healthd/config.yaml":
                  mode: "000644"
                  owner: root
                  group: root
                  content: |
                    pid_file_check_interval: 10
                    pid_file_check_attempts: 10